<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  
  <title>Search Feature - Torre</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/vendor/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-72x72.png">
  <link rel="manifest" href="/manifest.json">

</head>

<body>
  
    <nav class="light-blue lighten-2" role="navigation">
        <div class="nav-wrapper container">
            <form id="form-search-bar" method="POST" action="/searchTorrex">
                <div class="input-field search-bar">
                <input id="search" name="name" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="section">
            {{#if peopleData}}
                <ul class="collection">
                
                    {{#each peopleData}}
                        <li class="collection-item avatar">
                            
                            <a href="https://torre.bio/{{publicId}}" target="_blank">
                                {{#if picture}}
                                    <img src={{picture}} alt="" class="circle">
                                {{else}}
                                    <i class="material-icons circle">person</i>
                                {{/if}}
                            </a>
                            
                            <a href="https://torre.bio/{{publicId}}" target="_blank">
                                <span class="title light-blue-text lighten-2">{{name}}</span>
                            </a>
                            
                            <p class="truncate">
                                {{professionalHeadline}} 
                            </p>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <h5 class="center">Sorry, we could not find anybody by that name.</h5>
            {{/if}}
        </div>
        <br><br>
    </div>
    
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
            <div class="col l3 s12">
                <h5 class="white-text">More about us</h5>
                <ul>
                <li><a class="white-text" href="https://about.torre.co/#/">Our Story</a></li>
                <li><a class="white-text" href="https://accounts.torre.co/terms/">Terms of Use</a></li>
                <li><a class="white-text" href="https://accounts.torre.co/privacy/">Privacy Policy</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © Torre Technologies Co.
            </div>
        </div>
    </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/vendor/materialize.min.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
